<title>{{ site.title }} | {{ site.description }}</title>
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:locale" content="en_US" />
<meta name="description" content="{{ site.description }}" />
<meta property="og:description" content="{{ site.description }}" />
<link rel="canonical" href="https://chapi.io/" />
<meta property="og:url" content="https://chapi.io/" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="{{ site.title }}" />
<script type="application/ld+json">{"@context":"https://schema.org","@type":"WebSite","description":"{{ site.description }}","headline":"{{ site.title }}","name":"{{ site.title }}","url":"{{ site.url }}"}</script>
